body {
  font-family: 'Fredoka', sans-serif;
  background: #fff8e7;
  text-align: center;
  color: #333;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.2em;
  color: #d35400;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: #f9c74f;
  padding: 10px;
  flex-wrap: wrap;
}

nav button {
  background-color: #f9844a;
  border: none;
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  font-size: 1em;
  color: white;
  cursor: pointer;
}

input {
  display: block;
  margin: 10px auto;
  padding: 8px;
  width: 80%;
  max-width: 300px;
  border: 2px solid #f9844a;
  border-radius: 5px;
}

button {
  background-color: #90be6d;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  font-size: 1em;
  border-radius: 8px;
  cursor: pointer;
}

.tab {
  padding: 20px;
}

#doublesGrid span,
#recherchesGrid span {
  display: inline-block;
  margin: 3px;
  padding: 5px;
  background: #e0f7fa;
  border-radius: 5px;
  font-size: 0.9em;
}